<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <h1>Show </h1>
    <%= animal.name%> <br>
    <%= animal.family%> <br>
    <%= animal.location%><br>
    <%= animal.num_of_legs%>
  </body>
</html>
