<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose</title>
  </head>
  <body>
    <h1>Saving a user in MongoDB!</h1>
    <h3>Insert a user</h3>
    <form action="/users" method="post">
      Name: <input type="text" name="name"><br>
      Age: <input type="text" name="age"><br>
      <input type="submit" value="Submit">
    </form>
    <h3>Retrieve a user</h3>
    
  </body>
</html>
