<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Query Redux</title>
  </head>
  <body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/quotes" method="post">
      <h3>Your name: <input type="text" name="name"></h3>
      <h3>Your quote:</h3>
      <textarea name="quote" rows="8" cols="80"></textarea><br>
      <input type="submit" value="Add my quote">
    </form>
    <br>
    <a href="/quotes"><button>Skip to quotes</button></a>
  </body>
</html>
